<div id="main-content" class="col-sm-9">
<p>List of All Books: </p>
  <% @book.each do |books| %>
    <li>
    <%= books.title %>
    <%= books.description %>
    <%= books.author_id %>
    <%= books.genre_id %>
    <%= link_to "Edit", edit_book_path(books.id) %>
    <%= link_to "View", book_path(books.id) %>
    <%= link_to "Purchase", transactions_path(:transaction_comment => "Default comment",:user_id => current_user.id, :book_id => books.id), :method => :post %>
    </li>
  <% end %>
  <br>
  <br>
  <br>
    <%= link_to new_genre_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> Add a Genre
    <% end %>
    <br>
    <%= link_to new_book_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> Add a Book
    <% end %>
    <br>
    <%= link_to show_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> View Profile
    <% end %>
    <br>
    <%= link_to books_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> View All Books
    <% end %>
    <br>
    <%= link_to transactions_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> See All Purchases
    <% end %>
</div><!-- main-content -->