<div id="main-content" class="col-sm-9">
<p>Current Book: </p>
  <li><%= @book.title %></li>
  <br>
  <br>
  <br>
    <%= link_to books_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> Continue to Books
    <% end %>
    <br>
    <%= link_to new_genre_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> Add a Genre
    <% end %>
    <br>
    <%= link_to new_book_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> Add a Book
    <% end %>
    <br>
    <%= link_to index_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> View Profile
    <% end %>
    <br>
    <%= link_to books_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> View All Books
    <% end %>
</div><!-- main-content -->