<div class="container">
  <div class="row">
    <h1>The book:</h1>
    <h3><%= @book.title %></h3><br>
    <%= @book.description %><br>
    <%= @genre.name %><br>
    <%= @user.first_name %>
  <br>
  <br>
  <br>
    <%= link_to new_genre_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> Add a Genre
    <% end %>
    <br>
    <%= link_to new_book_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> Add a Book
    <% end %>
    <br>
    <%= link_to index_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> View Profile
    <% end %>
    <br>
    <%= link_to books_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> View All Books
    <% end %>
  </div><!-- row -->
</div><!-- container -->