<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
  <ul id="links-list">
    <%= link_to books_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a book
  <% end %>
  <%= link_to genres_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a genre
  <% end %>
  </ul>
</div>
    <div id="main-content" class="col-sm-9">
<p>Current Transaction: </p>
  <li><%= @transaction.transaction_comment %></li>
  <li>Buyer: <%= User.find(@transaction.user_id).first_name %> <%= User.find(@transaction.user_id).last_name %></li>
  <li>Book Title: <%= Book.find(@transaction.book_id).title %></li>
  <li>Book Author: <%= User.find(Book.find(@transaction.book_id).author_id).first_name %> <%= User.find(Book.find(@transaction.book_id).author_id).last_name %></li>
  <br>
  <br>
  <br>
    <%= link_to books_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> Continue to Books
    <% end %>
    <br>
    <%= link_to new_genre_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> Add a Genre
    <% end %>
    <br>
    <%= link_to new_book_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> Add a Book
    <% end %>
    <br>
    <%= link_to index_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> View Profile
    <% end %>
    <br>
    <%= link_to books_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> View All Books
    <% end %>
</div>
  </div>
</div>